<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-person"></i>
    <input type="text" placeholder="请输入用户名或邮箱" ng-model="user">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked"></i>
    <input type="password" placeholder="请输入密码" ng-model="password">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked"></i>
    <input type="password" placeholder="密码确认" ng-model="repassword">
  </label>
</div>
<span class="button button-full" ng-click="registerUser()">注册</span>
<a class="button button-full" href="./login.html#/logon">返回登录界面</a>
