<div class="list list-inset">
    <label class="item item-input">
        <i class="icon ion-person"></i>
        <input type="text" placeholder="Username" ng-model="l_username">
    </label>
    <label class="item item-input">
        <i class="icon ion-locked"></i>
        <input type="password" placeholder="Password" ng-model="l_password">
    </label>
</div>
<span class="button button-full" ng-click="loginUser()">登录</span>
<a class="button button-full"  href="./login.html#/register">还没有账号？去注册</a>
<a class="button button-full" href="../.././index.html#/tab/account">返回</a>
